body {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-weight: bold;
}

#top-page {
    background-image: url(../assets/backgrounds/h_img.jpg);
    height: 100vh;
    background-size: cover;
    color: white;
}

#top-center {
    text-align: center;
    padding-top: 190px;
}

#mouse-click {
    position: absolute;
    bottom: 20px;
}

#about-us {
    text-align: center;
    height: 40vh;
    padding-top: 30px;
}

#services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    text-align: center;
    height: 50vh;
    color: white;
    padding-top: 40px;
}

#what-we-do {
    height: 170vh;
    text-align: center;
}

.services {
    display: flex;
    justify-content: space-around;
}

/* #portfolio-images {
    padding-left: 100px;
    padding-right: 100px; */
/* } */

#contact-form {
    background-image: url(../assets/backgrounds/c_image.jpg);
    height: 80vh;
    color: white;
    text-align: center;
}

.form-style input {
    background: transparent;
    color: white;
}

.form-style textarea {
    background: transparent;
    color: white;
}

.social-icons {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footer {
    text-align: center;
}

.form-center {
    padding-top: 50px;
}

#design-explanation {
    display: none;
}

#development-explanation {
    display: none;
}

#product-explanation {
    display: none;
}

.portfolio-name {
    color: black;
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    top: 50%;
    /* font-size: 5em; */
    /* font-weight: bold; */
    /* text-shadow: 1px 1px #fff; */
    display: none;
}

.white-box {
    background-color: white;
    color: black;
    size: absolute;
    opacity: 0.8;
}

.custom-sizing1 {
    background-image: url(../assets/portfolio/work4.jpg);
    height: 47vh;
}

.custom-sizing2 {
    background-image: url(../assets/portfolio/work3.jpg);
    height: 47vh;
}

.custom-sizing3 {
    background-image: url(../assets/portfolio/work2.jpg);
}

.custom-sizing4 {
    background-image: url(../assets/portfolio/work1.jpg);
}

.custom-sizing5 {
    background-image: url(../assets/portfolio/work5.jpg);
    height: 47vh;
}

.custom-sizing6 {
    background-image: url(../assets/portfolio/work6.jpg);
}

.custom-sizing7 {
    background-image: url(../assets/portfolio/work7.jpg);
}

.custom-sizing8 {
    background-image: url(../assets/portfolio/work8.jpg);
}
